*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: #fff;
  font: 1rem/1 sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board {
  display: flex;
  width: max-content;
  height: 100%;
  margin: 0 auto;
}

.board div {
  display: flex;
  flex-direction: column-reverse;
}

.board div div {
  width: 20px;
  height: 20px;
  margin: 1px;
  border-radius: 2px;
  background-color: #FE4365;
  opacity: 0.1;
  transition: opacity 0.2s;
}

.board div div[data-is-alive] {
  opacity: 1;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls > * {
  flex: 1 1 0;
}

.buttons {
  display: grid;
  place-items: center;;
}

.buttons button {
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border: 4px solid #fff9;
  border-radius: 50%;
  color: #fff9;
  background-color: #355C7D;
  cursor: pointer;
}

.buttons button[disabled] {
  display: none;
}

.buttons svg {
  width: 20px;
}
