:root {
  --gapHeight: 4vmin;
  --buttonHeight: max(10vmin, 40px);
  --boardHeight: min(90vw, 90vh - var(--gapHeight) - var(--buttonHeight));
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  min-height: 100%;
  margin: 0;
  background-color: #fff;
  font: 2rem/1 sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gapHeight);
}

.board {
  display: flex;
  height: var(--boardHeight);
  aspect-ratio: 1;
  margin: 0 auto;
}

.board > div {
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1 0;
}

.board > div div {
  flex: 1 1 0;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #ff3d7f;
  opacity: 0.1;
  transition: opacity 0.2s;
}

.board > div div[data-is-alive] {
  opacity: 1;
}

.board > div div:not([data-is-alive]):hover {
  opacity: 0.3;
}

button {
  align-self: center;
  display: grid;
  place-items: center;
  height: var(--buttonHeight);
  aspect-ratio: 1;
  border: 6px solid #fff9;
  border-radius: 50%;
  color: #fff9;
  background-color: #1693a7;
  cursor: pointer;
}

button[disabled] {
  display: none;
}

button svg {
  height: 60%;
}

button#start svg {
  transform: translateX(8%);
}
